@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #0077df;
    --secondary:#06182b;
    --rounded: 0rem;
}

@layer utilities {
    .ring-ring {
        @apply ring-primary;
    }
}


button {
    @apply inline-flex items-center justify-center text-sm font-medium transition-colors rounded-md focus-visible:ring-ring whitespace-nowrap focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50;
}
.default {
    @apply text-white shadow bg-primary hover:bg-primary/90;
}
.destructive {
    @apply text-white bg-red-500 shadow hover:bg-red-600;
}

.outline {
    @apply border outline-none border-slate-400/35 text-slate-500;
}

.ghost {
    @apply text-primary underline-offset-4 hover:underline;
}
