@import './_trix.css';
@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #0077df;
    --secondary:#06182b;
    --rounded: 0rem;

    /* custome color  Colors */

    --red-600: #dc2626;
    --black-600: #000000;
    --teal-600: #08cb6d;
    --amber-600: #f59e0b;
    --indigo-600: #4f46e5;

}

@layer utilities {
    .ring-ring {
        @apply ring-primary;
    }
}


button {
    @apply inline-flex items-center justify-center text-sm font-medium transition-colors rounded-lg focus-visible:ring-ring whitespace-nowrap focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50;
}
.default {
    @apply  shadow bg-primary text-amber-200  hover:bg-primary/90;
}
.destructive {
    @apply text-white bg-red-500 shadow  hover:bg-red-600;
}

.outline {
    @apply border outline-none border-slate-400/35 text-slate-500;
}

.ghost {
    @apply text-primary  underline-offset-4 hover:underline;
}

.scroll{
    width: 300px;
    height: 300px;
}


body {
    font-family: "Zain", sans-serif;
    direction: rtl;
    text-align: right;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
    opacity: 0;
}
